html{
	width:100%;
	height:100%;
	body{
		margin:0;
		width:100%;
		height:100%;
	}
}
#container{
	width:100%;
	height:90%;
}
.label{
	position:absolute;
	background:#EE5D5B;
	font-size:12px;
	width:15px;
	height:15px;
	border-radius:50%;
	color:#fff;
	line-height:20px;
	&.hover{
		width:auto;
		height:20px;
		white-space:nowrap;
		min-width:100px;
		border-radius:0;
		z-index:9999 !important;
		padding: 0 10px 0 20px;
	}
}
.legend{
  margin-top:20px;
  display:flex;

  .info{
  	display:flex;
  	flex-direction:column;
  	padding:0 10px;
  	.icon{
  		margin:auto;
  		width:20px;
  		height:20px;
  	}
  	
  }
}

.check{
	display:flex;
}
.search{
	display: flex;
	height:30px;
	.search-content{
		height:30px;
		box-sizing:border-box;
	}
	.search-btn{
		display:block;
		line-height:30px;
		height:30px;
		cursor: pointer;
	}
}